apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring
  labels:
    app: grafana
data:
  grafana.ini: |
    [server]
    root_url = %(protocol)s://%(domain)s:%(http_port)s/grafana/
    serve_from_sub_path = true

    [security]
    admin_user = admin
    admin_password = ${GF_SECURITY_ADMIN_PASSWORD}
    disable_gravatar = true

    [users]
    allow_sign_up = false
    allow_org_create = false

    [auth.anonymous]
    enabled = false

    [analytics]
    reporting_enabled = false
    check_for_updates = false

    [log]
    mode = console
    level = info

    [alerting]
    enabled = true

    [unified_alerting]
    enabled = true

    [feature_toggles]
    enable = tempoSearch,tempoBackendSearch,tempoServiceGraph
